#tenure{
}
#sidebar{
  margin-top:10px;
}
#dash_bar{
  background: #CFD8DC;
}
#tool_bar{
  background: #eeeeee;
  height:540px;
}
#workspace{
  background: #eeeeee;
  height:540px;
}
#app_bar{
background:#3498db;
}
#input_modal_app_bar{
  margin-bottom:10px;
}
#select_modal_app_bar{
  margin-bottom:10px;
}
#checkbox_modal_app_bar{
  margin-bottom:10px;
}
#add_input_box,#add_select_box,#add_checkbox,#add_button{
background: linear-gradient(#e0e0e0,#eeeeee);
}
 label{
  color:#757B7E;
  }
  button:hover{
    background-color:#a6a6a6;
  }
  #head_text{
  }
  #add_more_contacts{
    margin-left: 20px;
    background-color: #FFFFFF;
    color:black;
    text-shadow: none;
    border-color: #E6E6E6;
  }
  #remove_contacts{
    background-color:#D9534F;
    color:white;
    text-shadow: none;
}

input[type="date"]{
  border-radius:4px;
  border-style:solid;
  border-width: thin;
  border-color: #dddddd;
  height:40px;
  padding:5px;
}
input[type="text"]{
  border-radius:4px;
  border-style:solid;
  border-width: thin;
  border-color: #dddddd;
  height:40px;
  padding:5px;
}

.checkbox{
  margin-left: 20px;
}
.form-actions{
  margin-top:5px;
  margin-bottom: 5px;
}
#textarea{
  border-radius:4px;
  border-style:solid;
  border-width: thin;
  border-color: #dddddd;
  padding:5px;
}
select{
  border-radius:4px;
  border-style:solid;
  border-width: thin;
  border-color: #dddddd;
  height:40px;
  background: white;
  padding:5px;
}

input[type=date]::-webkit-outer-spin-button,
input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=date] {
    -moz-appearance:textfield;
}
#submit{
  display: block;
}
