.sidebar{
      background: -webkit-linear-gradient(#68A452,#4588BE); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(#68A452,#4588BE); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(#68A452,#4588BE); /* For Firefox 3.6 to 15 */
      background: linear-gradient(#4d4d4d, #808080);
      width:5%;
      height:100%;
      float:left;
      position: fixed;
}
.div_reschedule_outer{
  float:left;
  display: inline;
  width:115px;
  height:30px;
  border:0px;
  padding-top:1px;
  padding-left: 1px;
  background: -webkit-linear-gradient(#68A452,#4588BE); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#68A452,#4588BE); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#68A452,#4588BE); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#68A452,#4588BE);
  border-radius: 15px;
}
.div_reschedule_inner{
  width:113px;
  height:28px;
  border:0px;
  background:white;
  border-radius: 14px;
  text-align: center;
}
.task_status_reschedule{
  color: #22BE4D;
  font-size:15px;
  margin-top: 2.5px;
}
.div_pending_outer{
  float: left;
  display: inline;
  width:115px;
  height:30px;
  border:0px;
  padding-top:1px;
  padding-left: 1px;
  background: rgb(228,117,131);
  border-radius: 15px;
}
.div_pending_inner{
  width:113px;
  height:28px;
  border:0px;
  text-align: center;
  background:white;
  border-radius: 14px;
}
.task_status_pending{
  color:rgb(228,117,131);
  font-size:15px;
  margin-top:2.5px;
}
.content{
  width:100%;
}
.rightDiv{
  float:right;
  width:95%;
  height:100%;
}
.footer{
  background-color:#222A33;
  width:100%;
  height:8%;
  float:right;
  position:fixed;
  bottom:0px;
}
.header{
  width:100%;
  height:5.8%;
  background-color:#F5F5F7;
  min-height:40px;
  border-bottom: 1px solid #eee;
}
.leftHeader{
    width:93%;
    height:100%;
    line-height:39px;
    float:left;
}
.rightHeader{
    width:7%;
    height:100%;
    float:right;
    padding:4px;
}
.subheader{
  height:9.8%;
  width:100%;
  background-color:#FFFFFF;
  /*padding:10px;*/
  border-bottom: 1px solid #eee;
}
.mainContent{
  width:100%;
  border: 1px;
}
