.taskSubheading{
  font-size: 15px;
  color: #737373;

}
.taskParagraph{
  color: #a6a6a6;
}
.rightContent{
  display: inline;
  float:right;
  width:30%;
  height:300px;
}
.pagination_footer{
    background-color: white;
    width: 70%;
    height: 8%;
    float: right;
    position: fixed;
    bottom:8%;
}
.paginationGroup{
  margin-top: 50px;
}
.tableHeading{
  background:  #e6e6e6;
  border-bottom: 1px solid #bfbfbf;
  height:30px;
  line-height:30px;
  margin-left: 10px;
  margin-top: 10px;
}
.tableHeadingText{
  color: #737373;
  font-size:15px;
  margin-left: 10px;
  font-weight: bold;
}
.headerHeadingText{
  color: #737373;
  font-size:20px;
  margin-left: 10px;
  font-weight: bold;
}
#table_block{
margin-left: 10px;
}
tr{
  border-bottom: 1px solid #eee;
}
td{
  padding: 10px;
}
tbody:nth-child(odd) {
    background:  #ffffff;
}

tbody:nth-child(even) {
    background: #f2f2f2;
}
#existing_input_fields{
  width: 100%;
  padding: 0px;
  margin-left: 10px;
  margin-bottom: 10px;
}
#existing_select_fields{
  width: 100%;
  padding: 0px;
  margin-left: 10px;
  margin-bottom: 10px;
}
#existing_checkbox_fields{
  width: 100%;
  padding: 0px;
  margin-left: 10px;
  margin-bottom: 10px;
}
#existing_buttons{
  width: 100%;
  padding:0px;
}
input[type=text] {
    display: block;
    width: 90%;
    margin-left:3%;
    height: 30px;
    padding-top:7.5px;
    padding-bottom:7.5px;
    padding-left: 7.5px;
    font-size: 14px;
    color: rgba(65,82,95,0.70);
    border-radius: 5px;
    background: #FFFFFF;
    border: 1px solid  #a6a6a6;
    font-size: 15px;
    line-height: 1.42857143;
    margin-top: 11px;
}

select{
    display: block;
    width: 535px;
    height: 59px;
    padding: 6px 12px;
    margin-top: 11px;
    font-size: 23px;
    line-height: 1.42857143;
    color: rgba(65,82,95,0.70);
    background-image: none;
    border: 1px solid #6A64D1;
    border-radius: 5px;
    background-color: #fff;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    border-radius:0px;
}
label{
  font-size: 15px;
  color: #6E777E;
  margin-left: 10px;
}
.nextbutton {
    display: inline-block;
    color: #FFF;
    background: #6A64D1;
    border-radius: 5px;
    padding: 2px 8px;
    font-size: 23px;
    font-weight: 400;
    line-height: 1.5em;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 535px;
    height: 59px;
    margin-top: 32px;
    border-radius:0px;
}
#createNewFormBtn{
    display: inline-block;
    color: #FFF;
    background: #6A64D1;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5em;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 100%;
    height: 40px;
    border-radius:0px;
    margin-bottom: 5px;
}
.nextbutton1{
    display: inline-block;
    color: #FFF;
    background: #6A64D1;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5em;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 100%;
    height: 40px;
    border-radius:0px;
    margin-bottom: 5px;
    margin-left:10px;
}

.previewBtn{
  display: inline-block;
  float:right;
  color: #FFFFFF;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5em;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  height: 40px;
  border-radius:0px;
  margin-bottom: 5px;
  margin-left:10px;
}
.nextbutton2{
    display: inline-block;
    color: #FFF;
    background: #6A64D1;
    border-radius: 5px;
    padding: 2px 8px;
    font-size: 18px;
    font-weight: 300;
    line-height: 1em;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 40%;
    height: 40px;
    border-radius:0px;
}
.paginationBtn{

  border-radius: 0px;
  border-width: 0.2px;
  border-color: #222;
/*  margin-right:1px;*/
  background: white;
  color:#222;
}
.progress-bar {
    float: left;
    width: 0px;
    height: 100%;
    font-size: 12px;
    line-height: 15px;
    background-image: linear-gradient(90deg, rgb(66, 133, 200) 0%, rgb(107, 166, 73) 100%);
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.14902) 0px -1px 0px inset;
    transition: width 0.6s ease;
}
.modal-content  {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}
.progress{
  height:10px;
  margin-bottom:2px;
}
.progress-bar {
    -webkit-transition: none !important;
    transition: none !important;
}
