body{
  font-family:sans-serif;
}
.task_text{
  float:left;
  display: inline;
  margin-left: 20px;
  margin-right:20px;
}
.task_subHeading{
color:#405260;
font-size: 15px;
font-weight: bold;
}
.task_paragraph{
color:#B5BCC1;
}
.header_admin_div{
  display: inline;
  float:right;
  margin-right:5px;
}
.header_help_div{
  display: inline;
  float:right;
  margin-left:5px;
}
.header_search_div{
  display: inline;
  float:left;
  margin-left: 10px;
}
.flag{
  width:30px;
  height:30px;
  border-radius:15px;
  background-color: "lightblue";
  float:right;
  margin-right:10px;
}
.subHeaderMargin{
  height:10px;
  width:100%;
  background-color:#F5F5F7;
  border-bottom: 1px solid #eee;
}

.subHeading{
  align-self: center;
  font-size: 25px;
  margin-left:20px;
  float:left;
  display: inline;
}
.leftContent{
  display:inline;
  float:left;
  width:70%;
}

.task{
  height:70px;
  width:100%;
  border-bottom: 1px solid #eee;
  padding:10px;
}
.formRightDivSubmit{
/*  float:right;*/
  display: inline-block;
  height:30px;
  width: 120px;
  margin-right:20px;
  background-color: #22BE4D;
  color:white;
  font-size: 15px;
  border-radius: 5px;
  border: 0px;
  line-height: 30px;
}
.task_timing{
  float:right;
  display: inline;
  text-align: right;
}
.div_subHeading{
  line-height: 70px;
  display: inline-block;
  float: left;
}
.footer_deals_text{
  color:#8F98A0;
  text-align: center;
  font-size: 20px;
  line-height:48.79px;
}
.footer_deals_div{
  background: #2D2D2D;
  width:300px;
  height:100%;
}
#create_form_submit{
background: white !important;
color:#22BE4D !important;
border:1px solid #22BE4D !important;
height: 30px !important;
line-height: 18px !important;
}
#create_form_submit:hover{
background: #22BE4D !important;
color:white !important;
border:1px solid #22BE4D !important;
height: 30px !important;
line-height: 18px !important;
}
.btn-primary:hover {
    color: #fff;
    background-color: #222;
    border-color: #222;
}
.btn-primary:active {
    color: #fff !important;
    background-color: #222 !important;
    border-color: #222 !important;
}
