<html>
<head>
<link rel="stylesheet" style="text/css" href="bootstrap.min.css" />
<link rel="stylesheet" style="text/css" href="bd_json_style.css" />
<script type="text/javascript" src="jquery.min.js"></script>
<script type="text/javascript" src="underscore.js"></script>
<script type="text/javascript" src="jsv.js"></script>
<script type="text/javascript" src="jsonform.js"></script>
<link rel="stylesheet" href="jquery-ui.css">
<script src="jquery-ui.js"></script>
<script>
$(function() {
  $( "#next_call_date" ).datepicker();
});
</script>
</head>
<body>
   <%- include head.html %>
       <h4>Lead Basic Details</h4>
       <hr>
       <form>
         <div id="contact_form"></div>
       </form>
       <div id="res" class="alert"></div>
       <script type="text/javascript">
       var data=<%- data_str %>;
        $('form').jsonForm(data);
       </script>
       <script>
       $('#jsonform-0-elt-counter-1').click(function(e){
         e.preventDefault();
       });

       $('#jsonform-0-elt-counter-2').click(function(){

       });
       </script>
     </body>
   </html>
