<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Call Status</title>
    <link rel="stylesheet" style="text/css" href="bootstrap.min.css" />
    <link rel="stylesheet" style="text/css" href="bd_json_style.css" />
    <script type="text/javascript" src="jquery.min.js"></script>
    <script type="text/javascript" src="underscore.js"></script>
    <script type="text/javascript" src="jsv.js"></script>
    <script type="text/javascript" src="jsonform.js"></script>
  </head>

  <body>
    <%- include head.html %>
    <h4>Document Uploader</h4>
    <hr>
    <div class="row">
    <div class="col-md-4">
    <ul>
      <li>
        Salary Slip
      </li>
      <li>
        Latest List of Shareholders
      </li>
      <li>
        Copy Of Registration Certificate
      </li>
      <li>
        VAT/Sales Tax Registration
      </li>
    </ul>
    </div>
    <div class="col-md-8">
      <form>
        <div id="contact_form"></div>
      </form>
    </div>
  </div>

    <div id="res" class="alert"></div>
    <script type="text/javascript">
    $('form').jsonForm({
      schema: {
        loan_amount_required: {type: "file", title: "Loan Amount Required"},
      },
      "form": [

        {
          "key": "loan_amount_required",
          "id":"tenure",
        }
      ],
    });
    </script>
    <script>
    </script>
  </body>
</html>
