<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Doc Uploader</title>
    <link rel="stylesheet" style="text/css" href="bootstrap.min.css" />
    <link rel="stylesheet" style="text/css" href="bd_json_style.css" />
    <script type="text/javascript" src="jquery.min.js"></script>
    <script type="text/javascript" src="underscore.js"></script>
    <script type="text/javascript" src="jsv.js"></script>
    <script type="text/javascript" src="jsonform.js"></script>

  </head>

  <body>
    <%- include head.html %>
    <h4>New Call</h4>
    <div class="container">
      <h2>Basic List Group</h2>
      <ul class="list-group">
        <li class="list-group-item">First item</li>
        <li class="list-group-item">Second item</li>
        <li class="list-group-item">Third item</li>
      </ul>
    </div>
    <hr>

    <form>
      <div id="contact_form"></div>
    </form>
    <div id="res" class="alert"></div>

    <script type="text/javascript">
      $('form').jsonForm({
        schema: {
          call_completion_date: {type: "date", title: "Call Completion Date"},
          call_status: {type: "string", title: "Call Status",enum:["Select Call Status"]},
          call_results: {type: "string", title: "Call Results",enum:["Select Call Results"]},
          next_call_date: {type: "date", title: "Next Call Date"},
          action: {type: "string", title: "Action"},

        },
        "form": [
          {
                "type": "fieldset",
                "expandable": false,

                "items": [
                  "call_completion_date",
                  "call_status",
                  "call_results",
                  "next_call_date",
                ],
                "id":"first_row",
          },
          {
            "key": "action",
            "id":"textarea",
            "type":"textarea",
          },
          {
            "type":"actions",
            "items":[
              {"type":"submit","title":"Schedule","id":"submit"},
            ]
          },
        ],
      });
    </script>
    <script>

    </script>
  </body>
</html>
