<html>
<head>
  <title>Form Management System</title>
  <link rel="stylesheet" style="text/css" href="bootstrap.min.css" />
  <link rel="stylesheet" style="text/css" href="bd_json_style.css" />
  <script type="text/javascript" src="jquery.min.js"></script>
  <script type="text/javascript" src="underscore.js"></script>
  <script type="text/javascript" src="jsv.js"></script>
  <script type="text/javascript" src="jsonform.js"></script>
  <link rel="stylesheet" href="jquery-ui.css">
  <script src="jquery-ui.js"></script>
</head>
<body>
  <p>Mandeep Here</p>
  <form></form>
  <div id="formspace"></div>
  <script>
    var d=<%- ipData %>;
    console.log("Receiving data "+d[0].schema_obj.p2.placeholder);
  </script>
</body>
</html>
