<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Call Status working</title>
    <link rel="stylesheet" style="text/css" href="bootstrap.min.css" />
    <link rel="stylesheet" style="text/css" href="bd_json_style.css" />
    <script type="text/javascript" src="jquery.min.js"></script>
    <script type="text/javascript" src="underscore.js"></script>
    <script type="text/javascript" src="jsv.js"></script>
    <script type="text/javascript" src="jsonform.js"></script>
  </head>

  <body>
    <%- include head.html %>
    <h4 id="mand">New Call</h4>
    <hr>
    <form>
      <div id="contact_form"></div>
    </form>
    <div id="res" class="alert"></div>
    <script type="text/javascript">
     var data = <%- idata %>;
     console.log("schema",data);
     $('form').jsonForm(data);
    </script>

  </body>
</html>
