<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Information Memo</title>
    <link rel="stylesheet" style="text/css" href="bootstrap.min.css" />
    <link rel="stylesheet" style="text/css" href="bd_json_style.css" />
    <script type="text/javascript" src="jquery.min.js"></script>
    <script type="text/javascript" src="underscore.js"></script>
    <script type="text/javascript" src="jsv.js"></script>
    <script type="text/javascript" src="jsonform.js"></script>
  </head>

  <body>
    <%- include head.html %>
    <h4>Questionnaire</h4>
    <hr>

    <form>
      <div id="contact_form"></div>
    </form>
    <div id="res" class="alert"></div>
    <script type="text/javascript">
    var data=<%- data_str %>
      $('form').jsonForm(data);
        // schema: {
        //   loan_amount_required: {type: "string", title: "Loan Amount Required"},
        //   tenure: {type: "string", title: "Tenure"},
        //   expected_rate_of_interest: {type: "string", title: "Expected rate of interest"},
        //   expected_fee: {type: "string", title: "Expected Fee"},
        //   comfortable_obligation_levels: {type: "string", title: "Comfortable Obligation Levels"},
        //   security_offered: {type: "string", title: "Security offered"},
        //   how_old_business: {type: "string", title: "How old is this business?"},
        //   revenue_model: {type: "string", title: "What is the revenue model?"},
        //   turnover: {type: "string", title: "What is last 2 years turnover"},
        //   gross_margin: {type: "string", title: "What are gross margins in this business"},
        //   break_event: {type: "string", title: "Have we achieved break even?"},
        //   monthly_sales: {type: "string", title: "Current level of monthly sales"},
        //   monthly_obligations: {type: "string", title: "Current monthly obligations if any"},
        //   working_capital: {type: "string", title: "Working capital cycle in days"},
        //   fund_arrangement: {type: "string", title: "Amount and banker for existing fund arrangement"},
        //   education_profile: {type: "string", title: "Education profile of promoters"},
        //   promoters: {type: "string", title: "Exp of promoters in this business & otherwise"},
        //   net_worth: {type: "string", title: "Net worth of promoters (Tangible assets owned)"},
        //   history_loan_repayment: {type: "string", title: "Any history of loan repayment"},
        // },
        // "form": [
        //
        //   {
        //     "key": "loan_amount_required",
        //     "id":"tenure",
        //   },
        //   {
        //     "key": "tenure",
        //     "id":"tenure",
        //   },
        //   {
        //     "key": "expected_rate_of_interest",
        //     "id":"expected_rate_of_interest",
        //   },
        //   {
        //     "key": "expected_fee",
        //     "id":"expected_fee",
        //   },
        //   {
        //     "key": "comfortable_obligation_levels",
        //     "id":"comfortable_obligation_levels"
        //   },
        //   {
        //     "key": "security_offered",
        //     "id":"security_offered"
        //   },
        //
        //   {
        //     "key": "how_old_business",
        //     "id":"how_old_business",
        //   },
        //   {
        //     "key": "revenue_model",
        //     "id":"revenue_model",
        //   },
        //   {
        //     "key": "turnover",
        //     "id":"turnover",
        //   },
        //   {
        //     "key": "gross_margin",
        //     "id":"gross_margin",
        //   },
        //   {
        //     "key": "break_event",
        //     "id":"break_event",
        //   },
        //   {
        //     "key": "monthly_sales",
        //     "id":"monthly_sales",
        //   },
        //   {
        //     "key": "monthly_obligations",
        //     "id":"monthly_obligations",
        //   },
        //   {
        //     "key": "working_capital",
        //     "id":"working_capital",
        //   },
        //   {
        //     "key": "education_profile",
        //     "id":"education_profile",
        //   },
        //   {
        //     "key": "promoters",
        //     "id":"promoters",
        //   },
        //   {
        //     "key": "net_worth",
        //     "id":"net_worth",
        //
        //   },
        //   {
        //     "key": "history_loan_repayment",
        //     "id":"history_loan_repayment"
        //   },
        //   {
        //     "type":"actions",
        //     "items":[
        //       {"type":"submit","title":"Submit","id":"submit"},
        //     ]
        //   },
        // ],
      // });
    </script>
    <script>
    $('.control-group').addClass("col-md-12");
    $('.control-group').children().children().addClass("col-md-12");
    $('.form-actions').addClass("col-md-12");
    </script>
  </body>
</html>
